* {
    margin: 0;
    padding: 0;
}

/* Change la couleur du fond */
body {
    background-color: #92b5e7;
    font-family: Arial, sans-serif;
}
a{
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

p{
    margin-left:3%;
}

ul{
    margin-left: 4%;
}

/* nav et menu burger */
/* on enleve les liens réservés à la version ordinateur */
.links {
    display: none;
}

h1 {
    display: flex;
    justify-content: center;
    margin:3%;
    padding:2%;
}

/* pour afficher le menu burger ainsi que les inscriptions en version mobile */
.menu-burger {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

#hamburger-logo {
    position: fixed;
    cursor: pointer;
    background: #92b5e7;
    width: 50px;
    text-align: center;
    padding: 10px;
    color: #ffffff;
    font-size: 20px;
}

.mobile-menu {
    position: fixed;
    display: none;
    flex-direction: column;
    background: #92b5e7;
    position: absolute;
    top: 50px;
    left: 0;
    width: 200px;
    overflow: hidden;
}

.mobile-menu a {
    color: #ffffff;
    padding: 10px;
    transition: background 0.3s;
}

.mobile-menu a:hover {
    background: #444;
}

#hamburger:checked~.mobile-menu {
    position: fixed;
    display: flex;
}

#hamburger {
    position: fixed;
    display: none;
}


@media screen and (min-width: 1025px) {


    /* Change la couleur du fond */
    body {
        background: linear-gradient(to left, #92b5e7 1200px, white 100px);
    }

    /* nav  */
    /* pour afficher la nav la couleur et les liens en ordi */
    nav {
        position: fixed;
        background-color: #92b5e7;
        height: 7vh;
        width: 100%;
    }

    .links {
        /* pour les aligner éléments les uns à côté des autres, enlever les points des listes, définir la taille de la nav ainsi que la police et sa taille  */
        font-size: 1.4rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        font-family: "Blinker", sans-serif;
        font-weight: bold;
    }

    /* couleur des inscriptions de la nav */
    .links li a {
        color: #ffffff;
        padding: 10px;
    }

    /* on enlève la version mobile on fait qu'elle ne soit pas visible */
    .menu-burger {
        display: none;
    }

    /* Défini le grid */
    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(7, 1fr);
        gap: 20px;
        height: 100vh;
    }


    /* Place la présentation */
    #Presentation {
        grid-column: 2;
        grid-row: 2;
    }

    /* Colorie le fond du titre en blanc */
    #Presentation>h1 {
        background-color: white;
    }

    /* Place la partie Formation */
    #Formation {
        grid-column: 2;
        grid-row: 3;

    }

    /* Retire les points de la liste */
    #Formation>ul {
        list-style: none;
    }

    /* Colorie le fond du titre en blanc */
    #Formation>h1 {
        background-color: white;
    }

    /* Place la partie Competences */
    #Competences {
        grid-column: 2;
        grid-row: 4;
    }

    /* Colorie le fond du titre en blanc */
    #Competences>h1 {
        background-color: white;
    }

    /* Place la partie expériences */
    #Experiences {
        grid-column: 2;
        grid-row: 5;
    }

    /* Colorie le fond du titre en blanc */
    #Experiences>h1 {
        background-color: white;
    }

    /* Place la partie réalisation */
    #Realisation {
        grid-column: 2;
        grid-row: 6;
    }

    /* Colorie le fond du titre en blanc */
    #Realisation>h1 {
        background-color: white;
    }

    /* Place la partie  */
    #cote {
        grid-column: 1;
        grid-row: 3/5;
        margin-left: 10px;

    }

    #cote h1 {
        display: flex;
        justify-content: left;

    }

    #cote>p a {
        text-decoration: none;
        color: black;
    }

    #photo {
        grid-column: 1;
        grid-row: 2;
    }
}